@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #7a4d9f;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 300%;
    letter-spacing: 3px;
}

svg {
    width: 100%;
    height: auto;
    fill: #22235f;
}

.btn {
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    padding: .625rem 1.875rem;
    text-transform: uppercase;
    border: none;
    border-radius: .3125rem;
    transition: all .3s ease;
    cursor: pointer;
}

.btn:active {
    transform: scale(97%);
}

.btn.new {
    background-color: #4e4f7f;
    margin: .9375rem 0;
}

.btn.new:hover,
.btn.add:hover {
    background-color: #64658f;
}

.container {
    width: 40%;
    margin: 0 auto .9375rem;
    padding-bottom: .3125rem;
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, 
                rgba(0, 0, 0, 0.07) 0px 2px 2px, 
                rgba(0, 0, 0, 0.07) 0px 4px 4px, 
                rgba(0, 0, 0, 0.07) 0px 8px 8px, 
                rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.container header {
    background-color: #22235f;
    padding: 1.875rem .9375rem;
}

main {
    padding: 0 .9375rem;
}

.book {
    background-color: #dddca0;
    margin-bottom: .9375rem;
    padding: .625rem;
    border-radius: .625rem;
    box-shadow: rgba(60, 64, 67, .3) 0px 1px 2px 0px, 
                rgba(60, 64, 67, .15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: column;
}

.book .info {
    color: #22235f;
    padding-bottom: .625rem;
    border-bottom: 1px solid rgba(78, 79, 127, .1);
    display: flex;
    align-items: center;
    column-gap: .9375rem;
}

.info .status {
    width: 5.75rem;
    background-color: rgba(255, 255, 255, .2);
    padding: 1.875rem .9375rem;
    border-radius: .625rem;
    text-transform: uppercase;
    text-align: center;
}

.info .details {
    font-size: 93.75%;
}

.details .title {
    font-weight: bold;
    margin-bottom: .3125rem;
}

.details .more {
    font-size: 87.5%;
}

.book .action-btns {
    padding-top: .625rem;
    display: flex;
    justify-content: space-between;
}

.action-btns .read {
    background-color: #18be79;
}

.action-btns .read:hover {
    background-color: #46cb94;
}

.action-btns .delete {
    background-color: #be185d;
}

.action-btns .delete:hover{
    background-color: #cb467d;
}

/* Modal & Overlay Styles */

.hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 35%;
    width: 20rem;
    background-color: #f2edf5;
    color: #22235f;
    padding: .9375rem;
    border-radius: .625rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
}

.modal header {
    margin-bottom: 1.875rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.875rem;
}

header .close {
    width: 1.5625rem;
    height: 1.5625rem;
    background-color: #e4dbec;
    padding: .125rem;
    border-radius: 50%;
    transition: background-color .3s ease;
    cursor: pointer;
    align-self: end;
}

header .close:hover {
    background-color: #d7cae2;
}

header .icon {
    width: 4.375rem;
    align-self: center;
}

.modal label {
    font-size: 81.25%;
    font-weight: bold;
}

form label + div {
    margin: .3125rem 0 .625rem;
}

form input[type="text"] {
    width: 100%;
    font-family: inherit;
    font-size: 93.75%;
    color: inherit;
    padding: .5rem .625rem;
    border: 1px solid #bdbdcf;
    border-radius: .3125rem;
    outline: none;
    transition: border-color .3s ease;
}

form input[type="text"]:focus {
    border-color: #22235f;
}

form input[type="text"]::selection {
    background-color: #e4dbec;
}

form input[type="checkbox"] {
    transform: scale(130%);
    accent-color: #22235f;
}

form .book-status {
    display: flex;
    align-items: center;
    column-gap: .625rem;
}

.btn.add {
    width: 100%;
    background-color: #4e4f7f;
    color: #fff;
    margin-top: 1.875rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(3px);
    z-index: 1;
}